
* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

#tab {
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}

ul {
    width: 90%;
    overflow: hidden;
}

ul li {
    height: 50px;
    width: 50px;
    line-height: 50px;
    display: inline;
    text-align: center;
}


li.active {
    color: orangered;
}

table {
    display: none;
    text-align: center;
    float: left;
    z-index: 1000;
    /*background-color: orangered;*/
}
table td{
    border-right: gainsboro 1px solid;
}
.td_last {
    border:none;
}

table.active {
    display: block;

}


.cent img {
    height: 110px;
    width: 160px;
}

.cent input {
    height: 50px;
    width: 245px;
}

.pr a {
    text-decoration: none;
    height: 88px;
    line-height: 88px;
    color: black;
}

.pr span {
    margin-left: 20px;
}

.right-t2 {
    height: 88px;
    line-height: 88px;
    float: right;
}

.left-t2 {
    height: 88px;
    line-height: 88px;
    float: left;
}

.pr {
    width: 70%;
    margin:0 20% auto auto;

}

.pt {
    padding-top: 20px;
}

/*.left-t3 {*/
/*    width: 1226px;*/
/*    height: 460px;*/
/*    background-image: url("../img/mi9Pro.jpg") ;*/
/*    margin: 0 auto;*/
/*    z-index: 0;*/
/*}*/