{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>项目列表</h1>
        <div>
            <a style="margin: 10px 0;"  class="btn btn-primary" href="{% url 'project_add' %}" >添加</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>项目名</th>
                    <th>仓库地址</th>
                    <th>环境</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for row in queryset %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.title }}</th>
                    <th>{{ row.repo }}</th>
                    <th>{{ row.get_env_display }}</th>
                    <th>
                        <a href="{% url 'project_edit' pk=row.id %}">编辑</a>
                        <a onclick="removeRow(this,{{ row.id }});">删除</a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function removeRow(ths,rid) {
            var result = confirm('是否确定要删除?');
            if(result){
                $.ajax({
                    url:'/project/del/' + rid + '/',
                    type:'get',
                    dataType:"JSON",
                    success:function (res) {
                        if(res.status){
                            $(ths).parent().parent().remove();
                        }
                    }
                });

            }
        }
    </script>
{% endblock %}