<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sweetalert_demo</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
    <style>
        .sweet-alert>h2 {
            padding-top: 15px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">person管理</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
 <thead>
    <tr>
        <th>序号</th>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>生日</th>
        <th>操作</th>
    </tr>
 </thead>
        <tbody>
            {% for p in persons %}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.age }}</td>
                <td>{{ p.birthday|date:'Y-m-d' }}</td>
                <td>
                    <button class="btn btn-danger del"><i class="fa fa-trash-o">删除</i></button>
                </td>
                </tr>
            {% endfor %}

        </tbody>
</table>
  </div>
</div>
</div>


<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/sweetalert/sweetalert.min.js"></script>
<script src="/static/setupajax.js"></script>
<script>
    // 找到删除按钮绑定事件
    $(".del").on("click", function () {
        var $trEle = $(this).parent().parent();
        var delId = $trEle.children().eq(1).text();

        swal({
          title: "你确定要删除吗？",
          text: "一旦删除就找不回来了",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-warning",
          confirmButtonText: "确认",
          cancelButtonText: "取消",
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        },
        function(){
            // 向后端发送删除的请求
            $.ajax({
                url: "/delete/",
                type: "post",
                data: {"id":delId},
                success:function (arg) {
                    swal(arg, "你可以跑路了！", "success");
                    $trEle.remove();
                }
            });

        });
    })
</script>
</body>
</html>