body {
    margin: 0 auto;
}

.f-header {
    background-color: rgb(51, 51, 51);
    color: white;
    height: 40px;
}
.c1{
    height: 40px;
    width: 1226px;
    display: block;
    margin: 0 auto;
}
.m{
    margin-right:50px;
}
.left-header {
    height: 40px;
    line-height: 40px;
    float: left;
}

.right-header {
    height: 40px;
    line-height: 40px;
    float: right;
}

.f-header a {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    font-size: 10px;
}

.f-header span {
    font-size: 5px;
}

input{
    padding: 0 10px;
}