.c-header {
    height: 88px;
    width: 1226px;
    display: block;
    margin: 0 auto;
}
.c-header img{
    height:50px;
    width: 50px;
}
.c-header input {
    height: 50px;
    width: 245px;
}

.c-header a {
    text-decoration: none;
    color: black;
}
.c-header span {
    margin-left: 20px;

}
.right-t2 {
    height: 88px;
    line-height: 88px;
    float: right;
}

.left-t2 {
    height: 88px;
    line-height: 88px;
    float: left;
}

.pr {
    padding-right: 70px;
}

.pt {
    padding-top: 20px;
}