.c7 {
    height: 614px;
    width: 1226px;
    display: block;
    margin: 0 auto;
}
.c7-t p{
    font-size: 22px;
}
.c7-1 span {
    color: rgb(198, 198, 198);
}
.c7-left{
    float: left;
}

.c7-rigth{
    float: right;
    margin-top: 10px;
    margin-left: 10px;
  }
.c7 table{
    width:982px;
    height:614px;
    /*background-color: white;*/
    text-align: center;
}
.c7-rigth div{
    width: 230px;
    height: 300px;
    background-color: white;
}
.c7-rigth img{
    width: 200px;
}
