.g-fixd {
    position: fixed;
    top:60%;
    right:1px;
}

.g-fixd img {
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 5px;
}

.g-fixd div {
    width: 20px;
    height: 30px;
    border: solid silver 0.01px;
}