<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>

    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
</head>
<body>

    <div style="background-color: #dddddd">
        <div class="col-lg-1">左边</div>
        <div class="col-lg-11">右边</div>
    </div>
    <div style="background-color: #dddddd">
        <div class="col-md-1">左边</div>
        <div class="col-md-11">右边</div>
    </div>
    <div style="background-color: #dddddd">
        <div class="col-sm-1">左边</div>
        <div class="col-sm-11">右边</div>
    </div>
    <div style="background-color: #dddddd">
        <div class="col-xs-1">左边</div>
        <div class="col-xs-11">右边</div>
    </div>
</body>
</html>