{% extends 'sign_up/index.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center">欢迎参加计算机基础知识大赛</h1>
            <p class="lead" style="text-align: center">这里是比赛简介这里是比赛简介这里是比赛简介这里是比赛简介这里是比赛简介这里是比赛简介这里是比赛简介这里是比赛简介这里是比赛简介这里是比赛简介这里是比赛简介这里是比赛简介</p>
            <br>
            <br>
            {% if user.is_authenticated %}
                {% if actor_info.is_added == True %}
                    <p style="text-align: center;margin-bottom: 0">
                        <a class="btn btn-primary btn-info btn-lg" href="{% url 'sign_up:my_team' %}" role="button">我的队伍</a>
                    </p>
                {% else %}
                    <p style="text-align: center;margin-bottom: 0">
                        <a class="btn btn-primary btn-info btn-lg" href="{% url 'sign_up:new_team' %}" role="button">我要创建队伍</a>
                        <a class="btn btn-primary btn-info btn-lg" href="{% url 'sign_up:add_team' %}" role="button">我要参加队伍</a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}