{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h1>channles发布</h1>
        <input type="button" class="btn btn-primary" value="初始化图标" onclick="createDiagram();" />
        <input type="button" class="btn btn-primary" value="代码发布" />

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>项目名称:{{ task_object.project.title }}</td>
                <td>环境:{{ task_object.project.get_env_display }}</td>
            </tr>
            <tr>
                <td>版本:{{ task_object.tag }}</td>
                <td>状态:{{ task_object.get_status_display }}</td>
            </tr>
            <tr>
                <td colspan="2">仓库地址:{{ task_object.project.repo }}</td>
            </tr>
            <tr>
                <td colspan="2">线上路径:{{ task_object.project.path }}</td>
            </tr>

            <tr>
                <td colspan="2">
                    <div>关联服务器</div>
                    <ul>
                        {% for item in task_object.project.servers.all %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="content" style="height:350px; background-color: #DAE4E4;"></div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'go.js' %}"></script>
    <script>
        var diagram;
        var ws;

        $(function () {
            initWebSocket();
            initDiagram();
        });

        function initDiagram() {
            var $ = go.GraphObject.make;
            diagram = $(go.Diagram, "content",{
                layout: $(go.TreeLayout, {
                    angle: 0,
                    nodeSpacing: 20,
                    layerSpacing: 70
                })
            });

            diagram.nodeTemplate = $(go.Node, "Auto",
                $(go.Shape, {
                    figure: "RoundedRectangle",
                    fill: 'lightgray',
                    stroke: 'lightgray'
                }, new go.Binding("figure", "figure"), new go.Binding("fill", "color"), new go.Binding("stroke", "color")),
                $(go.TextBlock, {margin: 8}, new go.Binding("text", "text"))
            );

            diagram.linkTemplate = $(go.Link,
                {routing: go.Link.Orthogonal},
                $(go.Shape, {stroke: 'lightgray'}, new go.Binding('stroke', 'link_color')),
                $(go.Shape, {toArrow: "OpenTriangle", stroke: 'lightgray'}, new go.Binding('stroke', 'link_color'))
            );

            /*

            diagram.model = new go.TreeModel(nodeDataArray);
            */
        }

        function initWebSocket() {
            ws = new WebSocket('ws://127.0.0.1:8001/publish/{{ task_object.id }}/');
            ws.onmessage = function (event) {
                console.log(event.data);
                var result = JSON.parse(event.data);
                if(result.code === 'init'){
                    diagram.model = new go.TreeModel(result.data);
                }
            }
        }

        function createDiagram() {
            ws.send('init')
        }
    </script>
{% endblock %}


