{% extends 'layout.html' %}
{% block content %}
    <div class="col-sm-offset-1 col-sm-6  panel-success">
        <div class="panel-heading">添加发布信息</div>
        <form method="POST" action="{% url 'task_add' project_id=project_object.pid %}">
            <div class="form-group">
                <label for="taskname">发布任务</label>
                <input type="text" class="form-control" name="taskname" id="taskname" placeholder="发布任务">
            </div>
            <div class="form-group">
                <label for="svnversion">渠道SVN版本号</label>
                <input type="text" class="form-control" name="svnversion" id="svnversion" placeholder="渠道SVN版本号">
            </div>
            <div class="form-group">
                <label for="branch">分支信息</label>
                <input type="text" class="form-control" name="branch" id="branch" placeholder="分支信息">
            </div>
            <div class="form-group">
                <label for="versionname">versionname</label>
                <input type="text" class="form-control" name="versionname" id="versionname" placeholder="versionname">
            </div>
            <div class="form-group">
                <label for="versioncode">versioncode</label>
                <input type="text" class="form-control" name="versioncode" id="versioncode" placeholder="versioncode">
            </div>
            <div class="form-group">
                <label for="build_cmd">编译命令</label>
                <textarea rows="6" class="form-control" name="build_cmd" id="build_cmd" placeholder="编译命令"></textarea>
            </div>
            <div class="form-group">
                <label for="release_info">发布信息</label>
                <textarea rows="4" class="form-control" name="release_info" id="release_info"
                          placeholder="发布信息"></textarea>
            </div>
            <div class="form-group">
                <label for="issue">JIRA链接</label>
                <input type="text" class="form-control" name="issue" id="issue" placeholder="JIRA链接">
            </div>

            <button type="submit" class="btn btn-success">提交</button>
            <a class="btn btn-primary" href="{% url 'task_list' project_id=project_object.pid %}" role="button">取消</a>
        </form>
    </div>
{% endblock %}