<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css"/>
    <title>登录页面</title>
    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 100px">
            <h1 class="text-center">欢迎登录</h1>
            <form class="form-horizontal" action="/rim/login/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label"></label>
                    <div class="input-group col-sm-8">
                        {#                        <span class="input-group-addon"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i></span>#}
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                        <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label"></label>
                    <div class="input-group col-sm-8">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input type="password" name="password" class="form-control" id="inputPassword3"
                               placeholder="Password">
                    </div>
                </div>
                {#                <div class="form-group">#}
                {#                    <label for="captcha" class="col-sm-2 control-label"></label>#}
                {#                    <div class="input-group col-sm-8">#}
                {#                        {{ form.captcha.label_tag }}#}
                {#                        {{ form.captcha }} <!--验证码，自带了一个input框-->#}
                {#                        {{ form.captcha.errors }}#}
                {#                    </div>#}
                {#                </div>#}
                <div class="form-group">
                    <div class="input-group col-sm-offset-2 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="keep" value="1"> 两周免登录
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary btn-block">登录</button>
                    </div>
                </div>
                <p class="text-danger text-center">{{ error }}</p>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery-1.12.4.js"></script>
<script>
    window.onload = function () {
        //禁止F12
        $("*").keydown(function (e) {//判断按键
            e = window.event || e || e.which;
            if (e.keyCode == 123) {
                e.keyCode = 0;
                return false;
            }
        });

        //禁止审查元素
        $(document).bind("contextmenu", function (e) {
            return false;
        });
    };
</script>
</html>