{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>发布任务单:{{ project_object.title }}-{{ project_object.get_env_display }}</h1>
        <div>
            <a style="margin: 10px 0;"  class="btn btn-primary" href="{% url 'task_add' project_id=project_object.id %}" >添加</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标识</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                {% for row in task_list %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.uid }}</th>
                    <th>{{ row.get_status_display }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        function removeRow(ths,rid) {
            var result = confirm('是否确定要删除?');
            if(result){
                $.ajax({
                    url:'/project/del/' + rid + '/',
                    type:'get',
                    dataType:"JSON",
                    success:function (res) {
                        if(res.status){
                            $(ths).parent().parent().remove();
                        }
                    }
                });

            }
        }
    </script>
{% endblock %}