/*
解释性的信息
*/

/*全局通用的样式*/


/*导航条的样式*/

/*商品列表样式*/

p {
    color: red;
    font-size: 18px
}
/*标签选择器*/
h1 {
    color: green;
}
/*ID选择器*/
#p2 {
    color: black;
}
/*类选择器*/
.c1 {
    color: yellow;
}


